<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="modal">
        <div class="modal-ui">
            <h1>Demo #1</h1>
            <h2>Express + EJS Application</h2>
            <form>
                <input id="input-email" name="input-email" type="text" placeholder="email" maxlength="50" required>
                <input id="input-pw" name="input-pw" type="password" placeholder="password" maxlength="30" required>
                <button id="submit" name="submit" type="button">LOGIN</button>
            </form>
        </div>
    </div>
    <script src="/static/assets/js/jQuery.min.js"></script>
    <script src="/static/js/login.js"></script>
</body>
</html>