<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="modal">
        <div class="modal-ui">
            <h1>Demo #1</h1>
            <h2>USER</h2>
            <input type="text" value="<%= user['email'] %>" readonly>
        </div>
    </div>
    <% include ../partials/js %>
</body>
</html>